@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}

.body {
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 980px;
}

.header {
	background-attachment: fixed;
	background-image: url(/public/img/capa-madmax2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 600px;
	justify-content: space-between;
	padding: 20px;
	position: relative;
	width: 100%;
}

.header::after {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% );
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.header-menu {
	z-index: 2;
	display: flex;
}

.header-menu .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.header-logo {
	display: inline-block;
}

.header-lista {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.lista-item{
	margin: 0 25px;
	cursor: pointer;
}

.lista-item a, .menu-lista-item a {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.4s;
}

.lista-item a:hover, .header-genero a:hover {
	color: #caa924;
}

.header-usuario {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.usuario-foto {
	border-radius: 100%;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	height: 45px;
	margin-right: 15px;
	overflow: hidden;
	width: 45px;
}

.usuario-foto img {
	width: 100%;
	height: auto;
}

.usuario-nome {
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
}

.header-conteudo {
	width: 100%;
}

.header-conteudo .container {
	position: relative;
	z-index: 2;
}

.header-titulo {
	color: #fff;
	font-size: 60px;
	font-weight: bold;
	line-height: 1.2em;
	margin: 0;
	text-transform: uppercase;
}

.header-genero {
	display: flex;
	margin: 15px 0 30px;
	font-size: 13px;
}

.header-genero a {
	color: #fff;
	text-decoration: none;
	margin-right: 15px;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.header-botao {
    display: inline-block;
    padding: 15px 50px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    background-color: #e4bb23;
    border-radius: 40px;
    position: relative;
    transition: background-color 0.3s;
}

.header-botao:hover {
	background-color: #caa924;
}

.header-botao i {
	font-size: 1.5em;
	position: absolute;
	right: 15px;
	top: 12px;
}

.header-informacao {
	padding: 20px 0;
	font-size: 15px;
	color: #fff;
}

.header-informacao p:last-child {
	color: #bc9a1d;
}

.catalogo {
	background-color: #f2f2f2;
	width: 100%;
}

.catalogo-menu {
	width: 100%;
}

.menu-lista {
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0 auto;
	padding: 0 20px;
}

.menu-lista-item {
	margin: 0 20px;
}

.menu-lista-item a {
	color: #e4bb23;
	display: inline-block;
	padding: 25px 0;
	font-size: 13px;
	transition: border-bottom 300ms;
}

.menu-lista-item a:hover {
	border-bottom: 0.5px solid #bc9a1d;
}

.footer {
	background-color: #fff;
    color: #bababa;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer .container {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-lista {
	padding: 0;
	list-style: none;
	display: flex;
}

.footer-lista-item {
	margin: 0 20px;
}

.footer-lista-item a {
	margin-left: 35px;
	font-size: 25px;
	color: #ccc;
}

.item.twitter a:hover {
	color: #009191;
}

.item.face a:hover {
	color: #003391;
}

.item.insta a:hover {
	color: #b4454e;
}


.footer-lista-item:last-child {
	margin-right: 0;
}

.catalogo-filmes-lista {
	align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
}

.filmes-lista-item {
	background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    overflow: hidden;
    width: 24%;
}

.filme-poster {
	margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.filme-poster img {
	width: 100%;
	height: auto;
}

.poster-info {
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	z-index: 1;
}

.poster-info h3 {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #e4bb23;
	font-size: 2em;
	line-height: 1em;
	text-transform: uppercase;
}

.poster-info i {
	font-size: 40px;
	color: white;
	margin-top: 20px;
}

.poster-link {
	color: #fff;
    font-size: 5em;
    transition: all 0.2s ease-in-out;
}

.filmes-lista-item:hover .poster-info {
	visibility: visible;
}

.filme-sinopse {
	padding: 10px;
    width: 100%;
}

.sinopse-titulo {
	font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.sinopse-genero {
	margin: 10px 0;
    display: flex;
}

.genero-item {
	text-decoration: none;
    font-size: 14px;
    color: #e4bb23;
}

.sinopse-nota {
	margin: 0;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
}

.sinopse-nota i {
	color: #ccc;
	cursor: pointer;
	font-size: 20px;
	transition: color 0.3s;
}

.sinopse-nota i:hover {
	color: #e74c3c;
}